<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" id="go-davepeck-org">
<head>
    <title>[Dave Peck's Go &raquo; History of {{black_name}} vs. {{white_name}}]</title>    
    {% include "head.html" %}
</head>
<body onload="init_history('{{your_cookie}}', {{your_color}}, {{board_size_index}}, '{{board_state_string}}', {{white_stones_captured}}, {{black_stones_captured}}, {{max_move_number}}, '{{last_move_message|addslashes}}', {{last_move_x}}, {{last_move_y}}, {{last_move_was_pass}}, {{whose_move}}, {{show_grid}})">
   <!-- preload all relevant images since I use CSS to swap them out. -->
    <div id="preload" class="hide">
        <img src="/img/transparent-1x1.png" alt="transparent-1x1" />
        <img src="/img/board-30.png" alt="board-30" />
        <img src="/img/simple-black.png" alt="simple-black" />
        <img src="/img/simple-white.png" alt="simple-white" />
        <img src="/img/ghost-white.png" alt="ghost-white" />
        <img src="/img/ghost-black.png" alt="ghost-black" />
        <img src="/img/highlight.png" alt="highlight" />
        <img src="/img/ff.png" alt="ff" />
        <img src="/img/ff-hover.png" alt="ff-hover" />
        <img src="/img/rw.png" alt="rw" />
        <img src="/img/rw-hover.png" alt="rw-hover" />
        <img src="/img/first.png" alt="first" />
        <img src="/img/first-hover.png" alt="first-hover" />
        <img src="/img/last.png" alt="last" />
        <img src="/img/last-hover.png" alt="last-hover" />
        <img src="/img/grid-disabled.png" alt="grid-disabled" />
        <img src="/img/grid-enabled.png" alt="grid-enabled" />
    </div>

    <!-- this will be dynamically generated -->
    <div id="board_area">
       <div id="board_and_grid_container">
           <table cellspacing="0" cellpadding="0" border="0">
               <tr class="grid-top {% if not show_grid_python %}hide{% endif %}">
                   <td class="grid-topleft">&nbsp;</td>
                   {% for column_name in column_names %}
                   <td>{{column_name}}</td>
                   {% endfor %}
               </tr>

               {% for row_name in row_names %}
               <tr>
                   <td class="grid-left {% if not show_grid_python %}hide{% endif %}">{{row_name}}</td>
                   {% if forloop.first %}
                   <td rowspan="{{board_height}}" colspan="{{board_width}}">
                       <div id="board_container" class="{{board_class}}">
                           <!-- this area will be dynamically generated -->
                           &nbsp;
                       </div>
                   </td>
                   {% endif %}
              </tr>
              {% endfor %}
          </table>
       </div>
       <div id="board_extras" {% if show_grid_python %}class="extras_grid"{% endif %}><a href="/play/{{your_cookie}}/" class="extra_link">play the game</a> | <a href="/history/{{your_cookie}}.sgf" class="extra_link">download sgf</a></div>
    </div>

    <div id="game_info" class="{% if show_grid_python %}right_{{board_class}}_grid{% else %}right_{{board_class}}{% endif %}">        
        <div id="game_status">            
            <h2 class="normal-heading">History: {{black_name}} <img src="/img/simple-black.png" alt="black player" /> vs. {{white_name}} <img src="/img/simple-white.png" alt="white player" /></h2>
           
            <div id="history_buttons">
                <img id="first_button" class="flat_button" src="/img/transparent-1x1.png" onclick="history_controller.first()" alt="first move" />
                <img id="rw_button" class="flat_button" src="/img/transparent-1x1.png" onclick="history_controller.rewind()" alt="previous move" />
                <img id="ff_button" class="flat_button" src="/img/transparent-1x1.png" onclick="history_controller.fast_forward()" alt="next move" />
                <img id="last_button" class="flat_button" src="/img/transparent-1x1.png" onclick="history_controller.last()" alt="most recent move" />
            </div>

            <div id="history_error" class="hide">&nbsp;</div>

            <br />
            
            <div id="current_move_message">You&#146;re looking at move <input type="text" id="current_move_number" onchange="history_controller.goto_move()" value="{{max_move_number}}" /> (out of {{max_move_number}}.)</div>

            <div id="last_pass" class="hide">This move was a pass.</div>
            
            {% if you_are_black %}
            <div id="capture_message">At this point, you&#146;ve captured <span class="count" id="white_stones_captured">{{white_stones_captured}}</span> stones; {{white_name}} has captured <span class="count" id="black_stones_captured">{{black_stones_captured}}</span>.</div>
            {% else %}
            <div id="capture_message">At this point, you&#146;ve captured <span class="count" id="black_stones_captured">{{black_stones_captured}}</span> stones; {{black_name}} has captured <span class="count" id="white_stones_captured">{{white_stones_captured}}</span>.</div>
            {% endif %}
    </div>
  </div>

  <div class="loading" id="loading" style="opacity:0.0"><img src="/img/loading-spinner.gif" alt="loading..." /></div>
{% include "foot.html" %}            
</body>
</html>
