<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" id="go-davepeck-org">
<head>
    <title>[Dave Peck's Go &raquo; {{black_name}} vs. {{white_name}}]</title>    
    {% include "head.html" %}
</head>
<body onload="init_play('{{your_cookie}}', {{your_color}}, {{current_move_number}}, {{whose_move}}, {{board_size_index}}, '{{board_state_string}}', {{white_stones_captured}}, {{black_stones_captured}}, '{{your_name|addslashes}}', '{{opponent_name|addslashes}}', '{{opponent_contact|addslashes}}', '{{opponent_contact_type}}', {{wants_email}}, {{last_move_x}}, {{last_move_y}}, {{last_move_was_pass}}, {{you_are_done_scoring}}, {{opponent_done_scoring}}, {{scoring_number}}, {{game_is_scoring}}, {{you_win}}, {{opponent_wins}}, {{game_is_finished}}, '{{last_move_message|addslashes}}', {{show_grid}})">
    <!-- preload all relevant images since I use CSS to swap them out. -->
    <div id="preload" class="hide">
        <img src="/img/transparent-1x1.png" alt="transparent-1x1" />
        <img src="/img/board-30.png" alt="board-30" />
        <img src="/img/simple-black.png" alt="simple-black" />
        <img src="/img/simple-white.png" alt="simple-white" />
        <img src="/img/ghost-white.png" alt="ghost-white" />
        <img src="/img/ghost-black.png" alt="ghost-black" />
        <img src="/img/territory-white.png" alt="territory-white" />
        <img src="/img/territory-black.png" alt="territory-black" />
        <img src="/img/dead-white.png" alt="dead-white" />
        <img src="/img/dead-black.png" alt="dead-black" />
        <img src="/img/highlight.png" alt="highlight" />
        <img src="/img/ff.png" alt="ff" />
        <img src="/img/ff-hover.png" alt="ff-hover" />
        <img src="/img/rw.png" alt="rw" />
        <img src="/img/rw-hover.png" alt="rw-hover" />
        <img src="/img/first.png" alt="first" />
        <img src="/img/first-hover.png" alt="first-hover" />
        <img src="/img/last.png" alt="last" />
        <img src="/img/last-hover.png" alt="last-hover" />
        <img src="/img/grid-disabled.png" alt="grid-disabled" />
        <img src="/img/grid-enabled.png" alt="grid-enabled" />
   </div>

   <div id="board_area">
       <div id="board_and_grid_container">
           <table cellspacing="0" cellpadding="0" border="0">
               <tr class="grid-top {% if not show_grid_python %}hide{% endif %}">
                   <td class="grid-topleft">&nbsp;</td>
                   {% for column_name in column_names %}
                   <td>{{column_name}}</td>
                   {% endfor %}
               </tr>

               {% for row_name in row_names %}
               <tr>
                   <td class="grid-left {% if not show_grid_python %}hide{% endif %}">{{row_name}}</td>
                   {% if forloop.first %}
                   <td rowspan="{{board_height}}" colspan="{{board_width}}">
                       <div id="board_container" class="{{board_class}}">
                           <!-- this area will be dynamically generated -->
                           &nbsp;
                       </div>
                   </td>
                   {% endif %}
              </tr>
              {% endfor %}
          </table>
       </div>
       <div id="board_extras" {% if show_grid_python %}class="extras_grid"{% endif %}><a href="/options/{{your_cookie}}/" class="extra_link">options</a> | <a href="/history/{{your_cookie}}/" id="view_history" class="{% if has_last_move %}extra_link{% else %}disabled_extra_link{% endif %}">view history</a> | <a href="javascript:document.location=['mxilto',':dxv','zpzck','@','dxv','zpzc','k.org', '?subject=Your Go Game...'].join('').replace(/x/g,'a').replace(/z/g, 'e');" class="extra_link">send feedback</a>
       <span id="grid_information">
            <span id="grid_location">&nbsp;</span>
            <img id="grid_button" src="/img/transparent-1x1.png" class="{% if show_grid_python %}grid_enabled{% else %}grid_disabled{% endif %}" alt="Click this to toggle the grid on and off. Shift-click a square to chat about it." title="Click this to toggle the grid on and off. Shift-click a square to chat about it." />
        </span>
        </div>
    </div>

    <div id="game_info" class="{% if show_grid_python %}right_{{board_class}}_grid{% else %}right_{{board_class}}{% endif %}">        
        <div id="game_status">
            
            <h2 class="normal-heading">{{black_name}} <img src="/img/simple-black.png" alt="black player" /> vs. {{white_name}} <img src="/img/simple-white.png" alt="white player" /></h2>

            {% if you_are_black %}
            <div id="capture_message" {% if not any_captures %}class="hide"{% endif %}>You have captured <span class="count" id="white_stones_captured">{{white_stones_captured}}</span> stones; {{white_name}} has captured <span class="count" id="black_stones_captured">{{black_stones_captured}}</span>.</div>
            <div id="komi_message">{{white_name}} has <span class="count" id="komi">{{komi}}</span> komi.</div>
            <div id="territory_message" {% if not has_scoring_data %}class="hide"{% endif %}>You have <span class="count" id="black_territory">{{black_territory}}</span> territory; {{white_name}} has <span class="count" id="white_territory">{{white_territory}}</span> territory.</div>
            {% else %}
            <div id="capture_message" {% if not any_captures %}class="hide"{% endif %} >You have captured <span class="count" id="black_stones_captured">{{black_stones_captured}}</span> stones; {{black_name}} has captured <span class="count" id="white_stones_captured">{{white_stones_captured}}</span>.</div>
            <div id="komi_message">You have <span class="count" id="komi">{{komi}}</span> komi.</div>
            <div id="territory_message" {% if not has_scoring_data %}class="hide"{% endif %}>You have <span class="count" id="white_territory">{{white_territory}}</span> territory; {{black_name}} has <span class="count" id="black_territory">{{black_territory}}</span> territory.</div>
            {% endif %}
            
            {% if game_is_finished_python %}
            <p id="turn_message">The game is over{% if you_win_python %}, and you won{% endif %}{% if opponent_wins_python %}, and {{opponent_name}} won{% endif %}{% if by_resignation_python %} by resignation{% endif %}!
            {% if opponent_contact_is_email %}
            <a href="mailto:{{opponent_contact}}" class="subtle-link">Email your opponent</a> to discuss the game!
            {% else %}
            <a href="http://twitter.com/home?status=@{{opponent_contact}} How was the game?" class="subtle-link">Twitter your opponent</a> to discuss the game!
            {% endif %}
            </p>
            {% else %}
                {% if game_is_scoring_python %}
                    {% if you_are_done_scoring_python %}
                    <p id="turn_message">You&#146;re waiting for {{opponent_name}} to finish scoring.</p>
                    {% else %}
                        {% if opponent_done_scoring_python %}
                        <p id="turn_message">{{opponent_name}} has finished scoring.</p>
                        {% else %}
                        <p id="turn_message">Click on groups of stones to mark them as dead or alive.</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if your_move %}
                    <p id="turn_message">{{last_move_message}}</p>
                    {% else %}
                    <p id="turn_message">You&#146;re waiting for {{opponent_name}} to move.</p>
                    {% endif %}
                {% endif %}
            {% endif %}

            <div class="indented">
                <div id="playing_links" {% if not game_in_progress_python %}class="hide"{% endif %}>
                    <a href="javascript:game_controller.make_this_move();" id="make_this_move" class="disabled_move_link">make this move &raquo;</a>
                    <br />
                    <span id="pass_links_container">
                        {% if last_move_was_pass_python %}
                        <a href="javascript:game_controller.pass_move();" id="pass" class="{% if your_move and not game_is_finished_python %}move_link{% else %}disabled_move_link{% endif %}">declare game finished (pass) &raquo;</a>
                        {% else %}
                        <a href="javascript:game_controller.pass_move();" id="pass" class="{% if your_move and not game_is_finished_python %}move_link{% else %}disabled_move_link{% endif %}">pass &raquo;</a> <span id="pass_or_resign" class="{% if your_move and not game_is_finished_python %}enabled_text{% else %}disabled_text{% endif %}">or</span> <a href="javascript:game_controller.resign_move();" id="resign" class="{% if your_move and not game_is_finished_python %}move-link{% else %}disabled_move_link{% endif %}">resign &raquo;</a>
                        {% endif %}
                    </span>
                    <br />
                    <a href="javascript:game_controller.show_last_move()" id="show_previous_move" class="{% if has_last_move %}move_link{% else %}disabled_move_link{% endif %}">show the previous move &raquo;</a>
                </div>
                <div id="scoring_links" {% if not game_is_scoring_python %}class="hide"{% endif %}>
                    <a href="javascript:game_controller.done_scoring();" id="done_scoring" class="{% if you_are_done_scoring_python %}disabled_move_link{% else %}move_link{% endif %}">done &raquo;</a>
                </div>
            </div>
         </div>

        <div id="chat">
            <div id="chat_bar">
                <h2 class="chat_heading">Chat</h2>
                <span id="characters_remaining" class="dim">&nbsp;</span>
            </div>
         <div id="chat_form_container">
                <div id="chat_textarea_container"><textarea rows="3" cols="58" id="chat_textarea"></textarea></div>
                <a href="javascript:chat_controller.update_chat()" id="chat_update_link" class="disabled_move_link">update &raquo;</a>
           </div>
            <div id="chat_error" class="hide">&nbsp;</div>
            <div id="chat_contents" class="all_chat">&nbsp;</div>
        </div>

    </div>

    <div class="loading" id="loading" style="opacity:0.0"><img src="/img/loading-spinner.gif"  alt="loading..." /></div>

{% include "foot.html" %}    
</body>
</html>
