<html>
<head>
    <title>[Dave Peck's Go &raquo; Get Going]</title>
    {% include "head.html" %}
</head>
<body onload="init_get_going()">
    <div id="splash">
        <div class="go">Go...</div>
        <div id="start_game">
            <div>
                <table>
                    <tr>
                        <th>Your name:</th>
                        <td><input type="text" id="your_name" tabindex="1" class="adjust"></input></td>
                        <td class="divide">You are <a href="javascript:get_going.swap_colors()" id="your_color" class="subtle-link" tabindex="5">black</a>.</td>
                    </tr>
                    <tr>                  
                        <th>Your <a id="your_contact_type" href="javascript:get_going.swap_your_contact_type()" class="subtle-link" tabindex="8">email</a>:</th>
                        <td><input type="text" id="your_contact" tabindex="2" class="adjust"></input></td>
                        <td class="divide">Your opponent is <a href="javascript:get_going.swap_colors()" class="subtle-link" id="opponent_color">white</a>.</td>
                    </tr>
                    <tr>
                        <th>Opponent&#146;s name:</th>
                        <td><input type="text" id="opponent_name" tabindex="3" class="adjust"></input></td>                        
                        <td class="divide">Black <a id="handicap" href="javascript:get_going.rotate_handicap();" class="subtle-link" tabindex="6">plays first</a>.</td>
                    </tr>
                    <tr>
                        <th>Opponent&#146;s <a id="opponent_contact_type" href="javascript:get_going.swap_opponent_contact_type()" class="subtle-link" tabindex="8">email</a>:</th>
                        <td><input type="text" id="opponent_contact" tabindex="4" class="adjust"></input></td>
                        <td class="divide">The board is <a href="javascript:get_going.rotate_board_sizes();" class="subtle-link" id="board_size" tabindex="7">19 x 19</a>.</td>
                    </tr>
                </table>
            </div>
            <p id="flash" class="flash limited_width" style="opacity: 0.0">&nbsp;</p>
            <div id="twitter_password_container" class="hide">
                <span>Your twitter password: <span><input type="password" id="twitter_password"></input>
            </div>
            <p class="lets_play"><a href="javascript:get_going.create_game()" class="disabled" id="play_link">Create the game &raquo;</a></p>
        </div>
    </div>    
</body>
</html>