<html>
<head>
    <title>[Dave Peck's Go &raquo; Options]</title>
    {% include "head.html" %}
</head>
<body onload="init_options('{{your_cookie}}', '{{your_email|addslashes}}', '{{your_twitter|addslashes}}', '{{your_contact_type}}')">
    <div id="splash">
        <div class="go-smallish">Options...</div>
        <div id="start_game">
            <div>
                <table>
                    <tr>
                        <td>
                            <input type="radio" name="contact_choice" value="email"></input>
                        </td>
                        <td>
                            Email:
                        </td>
                        <td>
                            <input type="text" id="your_email" tabindex="1" class="adjust"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="contact_choice" value="twitter"></input>
                        </td>
                        <td>
                            Twitter:
                        </td>
                        <td>
                            <input type="text" id="your_twitter" tabindex="2" class="adjust"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="contact_choice" value="none"></input>
                        </td>
                        <td>
                            None.
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <p id="flash" class="flash limited_width" style="opacity: 0.0">&nbsp;</p>
            <div id="twitter_password_container" class="hide">
                <span>Your twitter password: <span><input type="password" id="twitter_password"></input>
            </div>
            <p class="smaller_action_link"><a href="javascript:options.save_options()" class="disabled" id="play_link">Save &raquo;</a></p>
            <p class="smaller_action_link"><a href="/play/{{your_cookie}}/" class="disabled" id="play_link">Cancel &raquo;</a></p>
        </div>
    </div>    
</body>
</html>